#!/bin/sh
echo "Stage 1: System boot"

/bin/mount -t proc none /proc
/bin/mount -t sysfs none /sys
/bin/mount -t devtmpfs none /dev 2>/dev/null
/bin/mkdir -p /dev/pts /dev/shm
/bin/mount -t devpts devpts /dev/pts
/bin/mount -t tmpfs tmpfs /dev/shm

/sbin/hwclock -s

/sbin/ip link set dev lo up

exit 0
