#!/bin/sh
echo "Stage 3: System shutdown"

# Bring down all services cleanly (gives them up to 7 seconds)
/bin/sv force-stop /var/service/*
/bin/sv exit /var/service/*

# Unmount disks cleanly
/bin/sync
/bin/umount -a -r
