#!/bin/sh

GW=''
while [ "x${GW}x" == "xx" ]; do
	GW=$(/sbin/ip r | /bin/grep default | /bin/grep eth0 | /usr/bin/cut -d\  -f3)
done

MAC=$(/sbin/ip -o l | /bin/grep eth0 | /usr/bin/cut -d\\ -f2 | /usr/bin/awk '{print $2}')
eval $(/usr/bin/wget -O- http://${GW}:80/${MAC})

/bin/cat <<eof >/etc/hostname
${HOSTNAME}
eof

# To apply new hostname:
# sv restart get-hostname
/bin/hostname -F /etc/hostname

exec /bin/sleep 86400
