#!/bin/sh

sleep 5  # hmm

GW=$(/sbin/ip r | /bin/grep default | /bin/grep eth0 | /usr/bin/cut -d\  -f3)
MAC=$(/sbin/ip -o l | /bin/grep eth0 | /usr/bin/cut -d\\ -f2 | /usr/bin/awk '{print $2}')
eval $(/usr/bin/wget -O- http://${GW}:80/${MAC})

/bin/cat <<eof >/etc/hostname
${HOSTNAME}
eof

# To apply new hostname:
# sv restart get-hostname
/bin/hostname -F /etc/hostname

while true; do
	/bin/sleep 86400
done
