#!/bin/sh

getIp4() {
	echo $(/sbin/ip -o a | /usr/bin/awk '/'$DEV' *inet /{split($4, a, "/"); print a[1]}')
}

getMac() {
	echo $(/sbin/ip -o l | /usr/bin/awk -F'\\' '/'$1'/{split($2, a, " "); print a[2]}')
}

getGw() {
	echo $(/sbin/ip r | /usr/bin/awk '/default.*'$1'/{print $3}')
}

getProfile() {
	/usr/bin/wget -q -O$3 http://$1:80/$2
}

rebootSystem() {
	echo Press ENTER key to reboot
	read p
	reboot
}

sleep 5

DEV='eth0'
MAC=$(getMac "${DEV}")
while [ "x${MAC}x" == "xx" ]; do
	sleep 1
	MAC=$(getMac "${DEV}")
done

echo Found hardware address "${MAC}".

IP=$(getIp4 "${DEV}")
while [ "x${IP}x" == "xx" ]; do
	sleep 1
	IP=$(getIp4 "${DEV}")
done

echo Found IP address "${IP}".

ip route add default via ${IP}

FILE="/root/profile"
GW=$(getGw "${DEV}")
while [ "x${GW}x" == "xx" ]; do
	sleep 1
	GW=$(getGw "${DEV}")
done

echo Found gateway "${GW}".

getProfile "${GW}" "${MAC}" "${FILE}"
while [ ! -e "${FILE}" ]; do
	sleep 1
	getProfile "${GW}" "${MAC}" "${FILE}"
done

echo Loading iolite-build profile.
. "${FILE}"

/bin/cat <<eof >/etc/hostname
${HOSTNAME}
eof

# To apply new hostname:
# sv restart get-hostname
/bin/hostname -F /etc/hostname

echo Building host: $(/bin/uname -n)

if [ "x${DISTRO}x" == "xx" ]; then
	echo Installing $DISTRO...
else
	echo Installing Linux...
fi

echo Next step: Format disks
DISKS=$(echo "${DISKLAYOUT}" | jq -r '.[].device')

# Check disks present
for DISK in ${DISKS}; do
	M=$(stat -t "/dev/${DISK}" 2>&1) ; RC=$?
	if [ ${RC} -ne 0 ]; then
		/bin/sv down .
		echo Not found: /dev/${DISK}
		rebootSystem
	fi
done
echo All disks present.

# Format disks.
for DISK in ${DISKS}; do
	VDA_PARTS=$(echo ${DISKLAYOUT} | jq -r '[.[] | select(.device == "'${DISK}'") | .parts[]]')
	LEN=$(echo $VDA_PARTS | jq 'length')
	for I in $(seq 0 $((${LEN}-1))); do
		#PART=$(echo $VDA_PARTS | jq '.['${I}']')
		MOUNT=$(echo $VDA_PARTS | jq -r '.['${I}'].mount')
		SIZE=$(echo $VDA_PARTS | jq -r '.['${I}'].size')
		FS=$(echo $VDA_PARTS | jq -r '.['${I}'].fs')
		echo mount $MOUNT size $SIZE fs $FS
	done

	#echo 

	#PARTS=$(echo $DISKLAYOUT | jq -r '[.[] | select(.device == "${DISK}") | .parts[]]')

#<<<$DISKLAYOUT jq -r '[.[] | select(.device == "vda") | .parts[]][0]'

#<<<$DISKLAYOUT jq -r '.[] | select(.device == "vda") | .parts'

done

# disks
#<<<$DISKLAYOUT jq -r '.[].device'

# order of mounting
#<<<$DISKLAYOUT jq -r '[.[].parts[]] | sort_by(.mount)'

# each disk
#<<<$DISKLAYOUT jq -r '.[] | select(.device == "vda")'

# All that's needed is:
# * disks laid out per spec
# * kernel, initrd
# * /etc/fstab
# * grub2? install to /boot disk
# * busybox
# * ssh server with host and client certs established
# * optional ssh key injected
# * don't even need package manager at this point
# * suppose we can optionally add a package manager
# The rest can be done with Ansible

rebootSystem
