#!/bin/sh

# Reset environment parameters
export SVDIR='/var/service'
cd /

#exec /usr/bin/setsid /bin/sh -c 'exec /bin/sh /opt/iolite-build.sh </dev/tty2 >/dev/tty2 2>&1'
exec /usr/bin/setsid /bin/sh -c '/bin/sh /opt/iolite-build.sh </dev/tty2 >/dev/tty2 2>&1; /bin/sv down .'
